//== Position
/*----------------------------------------*/
.pos-rlt {
	position: relative;
}

.pos-stc {
	position: static !important;
}
.font-bold{
	font-weight: 700 !important;
}
.font-regular{
	font-weight: 400 !important;
}

//== Z-index
/*----------------------------------------*/
// .z-index-2{
//   z-index: 2;
// }

// .cursor-pointer{
// 	cursor: pointer;
// }


.overflow-wrap-normal{
	overflow-wrap: normal;
}