<footer class="footer d-flex align-items-center justify-content-between">
    <div class="footer__left">
     
      {{activeCompanyName }}<span class="ps-seperator-line"></span>
      {{empName}}<span class="ps-seperator-line"></span>
      {{ip}}<span class="ps-seperator-line"></span>
      {{datetime | date:dateTimeFormat}}
      <span class="ps-seperator-line"></span>
      {{loginTimeDiff}}
    </div>
    <div class="footer__right">
      &copy; 2013-2019  
      <a href="http://pridesys.com" target="_blank" >Pridesys IT Limited. </a>All Rights Reserved
      <span class="ps-seperator-line"></span>
      {{version}}
     </div>
  </footer>