<div class="all-input-index-wrapper" [hidden]="!showTabIndex">
    <div id="all-input-list" class="all-input-list">

    </div>
    <button type="button" name="button" class="btn btn-primary" id="saveTabIndex" (click)="onClickSaveTabIndex()">Save</button>
    <button type="button" name="button" class="btn btn-warning ml-base" id="resetTabIndex" (click)="onClickResetTabIndex()">Reset</button>
    <button type="button" class="d-none"  name="button" id="showTabIndexButton" (click)="showTabIndex=!showTabIndex">Show Tab Index</button>
</div>