/* -----------------------------------
** Header
-------------------------------------*/
.header{
  /* Positioning */
  position: fixed;
  top:0;
  left:0;
  z-index: 44;

  /* Display & Box Model */
  width:100%;
  height: $header-height;
  padding:.35rem 0.3571rem;

  /* Text */
  font-size: pxtorem(14px, $font-size-base);;
  &:after{
    clear: both;
  }
}
.ps-seperator-line{
  /* Positioning */
  position: relative;

  /* Display & Box Model */
  height:pxtorem(13px, $font-size-base);
  margin: 0 pxtorem(14px, $font-size-base);
  &:before{
    /* Positioning */
    position: absolute;
    right:0;
    top: 1px;
    content: '';

    /* Display & Box Model */
    width:1px;
    height:pxtorem(13px, $font-size-base);
  }
}
.header-humberger-icon{
  /* Display & Box Model */
  margin-right:pxtorem(6px, $font-size-base);

  /* Text */
  font-size: pxtorem(18px, $font-size-base);
  line-height: pxtorem(30px, $font-size-base);
}
.header-logo{
  width: pxtorem(220px, $font-size-base);
  a{
    /* Display & Box Model */
    display: inline-block;

    /* Text */
    font-size: pxtorem(18px, $font-size-base);
    line-height: pxtorem(30px, $font-size-base);
    font-weight: 700;
    &:hover{
      color: inherit;
    }

    &:first-letter{
      /* Display & Box Model */
      display: block;
      width: pxtorem(30px, $font-size-base);
      height: pxtorem(30px, $font-size-base);
      padding:pxtorem(4px, $font-size-base) pxtorem(8px, $font-size-base) pxtorem(4px, $font-size-base) pxtorem(10px, $font-size-base);
      border-radius: 100%;
      margin-right: $offset-base;
    }

  }
}
.header-button{
  /* Positioning */
  position: relative;

  /* Display & Box Model */
  display: flex;
  align-items: center;
  justify-content: center;
  height: pxtorem(30px, $font-size-base);
  min-width: pxtorem(30px, $font-size-base);
  padding: 0;
  border-radius: 0;
  margin-left: $offset-base;

  /* Color */
  background: transparent;

   /* Text */
  font-size: pxtorem(18px, $font-size-base);
  font-weight: 700;
  line-height: pxtorem(30px, $font-size-base);
  text-align: center;
  text-decoration: none;

  /* Other */
  cursor: pointer;

  &:hover{
    /* Other */
    transition: all 0s;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 4px 1px rgba(0,0,0,.08);
    box-shadow: inset 0 0 4px 1px rgba(0,0,0,.08);
  }
  &:focus{
    background-image: -moz-linear-gradient(top,#e8e8e8 0,#ededed 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e8e8e8),color-stop(100%,#ededed));
    background-image: -webkit-linear-gradient(top,#e8e8e8 0,#ededed 100%);
    background-image: -o-linear-gradient(top,#e8e8e8 0,#ededed 100%);
    background-image: -ms-linear-gradient(top,#e8e8e8 0,#ededed 100%);
    background-image: linear-gradient(to bottom,#e8e8e8 0,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#ededed', GradientType=0);
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0,0,0,.15);
    box-shadow: inset 0 0 3px 1px rgba(0,0,0,.15);
  }
  .badge{
    /* Positioning */
    position: absolute;
    top: -0.3571rem;
    right: -0.3571rem;

    /* Display & Box Model */
    display: inline-block;
    width: pxtorem(18px, $font-size-base);
    height: pxtorem(18px, $font-size-base);
    border-radius: 50%;
    padding: pxtorem(3px, $font-size-base) pxtorem(4px, $font-size-base) pxtorem(4px, $font-size-base);

     /* Text */
    font-weight: 700;
    font-size: pxtorem(10px, $font-size-base);
    text-align: center;
    line-height: normal;

    /* Other */
    cursor: pointer;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
  }
  &:focus{
    outline: 0;
  }
  &:after{
    display: none;
  }
  &.header-button--icon-icon{
    font-size: 24px;
  }
}
.dropdown-item.active{
  /* Positioning */
  position: relative;
  &:before{
    /* Positioning */
    position: absolute;
    left:0.3rem;
    top:.5rem;

    /* Text */
    content: "\f00c";
    font-family: 'FontAwesome';
    font-size: pxtorem(10px, $font-size-base);
  }
}
.language-select-dropdown{
  .flag{
    margin-top: -2px;
  }
}
.menu-type-select,.language-select-dropdown{
  .dropdown-menu{
    .dropdown-item{
      padding-left: pxtorem(18px, $font-size-base);
      cursor: pointer;
      transition: 0s;
    }
  }
}
.menu-type-select{
  .dropdown-toggle{
    cursor: pointer;
  }
}
.dropdown-menu-right{
  /* Positioning */
  left: initial;
  right:0;
}
/* Search Field */
// .header-search{
//   position: relative;
//   margin-left: 0.4286rem;
//   &__input.form-control{
//     height: 2.143rem;
//     border:1px solid $border;
//     padding-right: 2.1rem;
//     &:focus{
//       border-color: $primary;
//     }
//   }
//   &__icon{
//     position: absolute;
//     top: .05rem;
//     right: .6rem;
//     font-size: 1.429rem;
//     color: $mute;
//     &:before{
//       font-weight: 500;
//     }
//   }
// }
/* Language Select and dropdown select */
// .dropdown-company-select{
//   margin-right: 5px;
//   padding-right: 5px;
//   position: relative;
//   &:before{
//     position: absolute;
//     right:0;
//     top: 0.5714rem;
//     background: $gray;
//     width:1px;
//     height:1rem;
//     content: '';
//   }
// }
.language-select-dropdown{
  .dropdown-toggle{
    /* Display & Box Model */
    height: pxtorem(30px, $font-size-base);
    padding: 0;
    border:0;

    /* Color */
    background: transparent;

    /* Other */
    cursor: pointer;

    &:focus{
      /* Other */
      outline:0;
      box-shadow: none;
    }
    &:after{
      display: none;
    }
  }
  &__arrow{
    font-size: pxtorem(10px, $font-size-base);
  }

}
/* filter type by Graph/Form/Report*/
.menu-type-select{
  .dropdown-toggle{
    /* Display & Box Model */
    border:0;
    padding:0;

    /* Color */
    background: transparent;

    /* Text */
    text-align:left;
    &:focus{
      /* Other */
      outline: 0;
      box-shadow: none;
    }
  }
  .dropdown-toggle::after{
    display: none;
  }
}

/* user profile dropdown*/
.profile-dropdown{
  .dropdown-toggle{
    background: transparent;
    &:focus,&:focus{
      /* Color */
      background: transparent;

      /* Other */
      outline: 0 !important;
      box-shadow: none;
    }
  }
}


.dropdown-message,.dropdown-notification{
  &__header{
    /* Display & Box Model */
    padding:pxtorem(9px, $font-size-base) pxtorem(14px, $font-size-base);

    /* Text */
    font-weight:500;
    text-align: center;

  }
  .list-group-item{
    cursor: pointer;
    &:hover{
      background: transparent;
    }
  }
  .dropdown-menu{
    /* Display & Box Model */
    width: 25rem;
    padding:0;
  }
  &__image,&__icon{
    /* Display & Box Model */
    max-width:  pxtorem(40px, $font-size-base);
    width: pxtorem(40px, $font-size-base);
  }
  &__icon{
    /* Display & Box Model */
    border-radius: 100%;
    height: pxtorem(40px, $font-size-base);
    width: pxtorem(40px, $font-size-base);

    /* Text */
    line-height: pxtorem(40px, $font-size-base);
    text-align: center;
    font-size: pxtorem(18px, $font-size-base);
  }
}


/* -----------------------------------
** End Header
-------------------------------------*/
