<div class="container-fluid ps-form-page-wrapper">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center pb-base-double pt-base-double">
            <h3 class="black-text">Welcome to Angular Core</h3>
            <p class="font-1rem">Where do you want to start?</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a class="module-item card" href="#">
            <div class="card-body">
              <div class="module-item__image">
                <img src="assets/images/dashboard/office-organizer.png" alt="">
              </div>
              <h5 class="module-item__title text-center">Office Organizer</h5>
            </div>
          </a><!--/.module-item-->
        </div>
        <div class="col-md-3 col-sm-6">
          <a class="module-item card" id="hrModule" href="#">
            <div class="card-body">
              <div class="module-item__image">
                <img src="assets/images/dashboard/human-capital-management.png" alt="">
              </div>
              <h5 class="module-item__title text-center">human Capital Management</h5>
            </div>
          </a><!--/.module-item-->
        </div>
        <div class="col-md-3 col-sm-6">
          <a class="module-item card" href="#">
            <div class="card-body">
              <div class="module-item__image">
                <img src="assets/images/dashboard/general-ledger.jpg" alt="">
              </div>
              <h5 class="module-item__title text-center">General Leadger</h5>
            </div>
          </a><!--/.module-item-->
        </div>
        <div class="col-md-3 col-sm-6">
          <a class="module-item card" href="#">
            <div class="card-body">
              <div class="module-item__image">
                <img src="assets/images/dashboard/purchase.png" alt="">
              </div>
              <h5 class="module-item__title text-center">Purchase</h5>
            </div>
          </a><!--/.module-item-->
        </div>
        <div class="col-md-3 col-sm-6">
          <a class="module-item card" href="#">
            <div class="card-body">
              <div class="module-item__image">
                <img src="assets/images/dashboard/material-management.png" alt="">
              </div>
              <h5 class="module-item__title text-center">Material Management</h5>
            </div>
          </a><!--/.module-item-->
        </div>
        <div class="col-md-3 col-sm-6">
          <a class="module-item card" href="#">
            <div class="card-body">
              <div class="module-item__image">
                <img src="assets/images/dashboard/sales.png" alt="">
              </div>
              <h5 class="module-item__title text-center">Sales</h5>
            </div>
          </a><!--/.module-item-->
        </div>
        <div class="col-md-3 col-sm-6">
          <a class="module-item card" href="#">
            <div class="card-body">
              <div class="module-item__image">
                <img src="assets/images/dashboard/garments.png" alt="">
              </div>
              <h5 class="module-item__title text-center">Garments</h5>
            </div>
          </a><!--/.module-item-->
        </div>
        <div class="col-md-3 col-sm-6">
          <a class="module-item card" href="#">
            <div class="card-body">
              <div class="module-item__image">
                <img src="assets/images/dashboard/maintenance.png" alt="">
              </div>
              <h5 class="module-item__title text-center">Maintenance</h5>
            </div>
          </a><!--/.module-item-->
        </div>
        <div class="col-md-3 col-sm-6">
          <a class="module-item card" href="#">
            <div class="card-body">
              <div class="module-item__image">
                <img src="assets/images/dashboard/fixed-asset.png" alt="">
              </div>
              <h5 class="module-item__title text-center">Fixed Asset</h5>
            </div>
          </a><!--/.module-item-->
        </div>
        <div class="col-md-3 col-sm-6">
          <a class="module-item card" href="#">
            <div class="card-body">
              <div class="module-item__image">
                <img src="assets/images/dashboard/transport.png" alt="">
              </div>
              <h5 class="module-item__title text-center">Tansport</h5>
            </div>
          </a><!--/.module-item-->
        </div>
        <div class="col-md-3 col-sm-6">
          <a class="module-item card" href="#">
            <div class="card-body">
              <div class="module-item__image">
                <img src="assets/images/dashboard/production.png" alt="">
              </div>
              <h5 class="module-item__title text-center">Production</h5>
            </div>
          </a><!--/.module-item-->
        </div>
        <div class="col-md-3 col-sm-6">
          <a class="module-item card" href="#">
            <div class="card-body">
              <div class="module-item__image">
                <img src="assets/images/dashboard/system-settings.png" alt="">
              </div>
              <h5 class="module-item__title text-center">System &amp; Settings</h5>
            </div>
          </a><!--/.module-item-->
        </div>
      </div>
    </div>
  </div>
</div>
