
#notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: pxtorem(560px, $font-size-base);
    width: 100%;
    padding-left: 160px;
    line-height: 1.1;
  }
  
  .notfound .notfound-404 {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: pxtorem(140px, $font-size-base);
    height: pxtorem(140px, $font-size-base);
    background-image: url('../images/notfound/emoji.png');
    background-size: cover;
  }
  
  .notfound .notfound-404:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(2.4);
        -ms-transform: scale(2.4);
            transform: scale(2.4);
    border-radius: 50%;
    background-color: #f2f5f8;
    z-index: -1;
  }
  
  .notfound h1 {
    font-size: pxtorem(65px, $font-size-base);
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .notfound h2 {
    font-size:pxtorem(21px, $font-size-base);
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
  }
  
  .notfound p {
    font-weight: 400;
  }
  
  .notfound a {
    display: inline-block;
    font-weight: 700;
    border-radius: 40px;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
      width: pxtorem(110px, $font-size-base);
      height: pxtorem(110px, $font-size-base);
    }
    .notfound {
      padding-left: pxtorem(15px, $font-size-base);
      padding-right: pxtorem(15px, $font-size-base);;
      padding-top: pxtorem(110px, $font-size-base);
    }
  }
  